* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}

.cabecera {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}

header {
  position: absolute;
  width: 375px;
  height: 96px;
  left: 0px;
  top: 0px;
}

.img-input {
  width: 150px;
  height: 150px;
}

body {
  background: #e5e5e5;
}
/* Vector */

.vector {
  width: 31.09px;
  height: 48px;
  position: absolute;
  top: 40px;
  left: 40px;
  gap: 40px;
}

#texto-encriptar {
  position: absolute;
  width: 680px;
  height: 288px;
  left: 240px;
  top: 168px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  /* or 48px */
}

.ver-section {
  position: absolute;
  width: 400px;
  height: 550px;
  left: 930px;
  top: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 32px;
  box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.5);
  padding: 2rem;
  color: var(--color-text);
  line-height: 120%;
  text-align: center;
}

html {
  font-size: 100%;
}

.info {
  color: var(--color-text);
  font-size: 0.75rem;
  position: absolute;
  top: 470px;
  left: 470px;
}

.ver-section h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon-exclamacion {
  display: inline-block;
  width: 0.75rem;
}

.Divbt {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 680px;
  height: 67px;
  left: 200px;
  top: 500px;
}

#btCopiar {
  background: #0a3871;
  border-radius: 24px;
  padding: 24px;
  width: 328px;
  height: 67px;
}

#bt {
  left: 100px;
  padding: 24px;
  gap: 8px;
  width: 328px;
  height: 67px;
  /* Dark blue/dark-blue-300 */
  background: #0a3871;
  border-radius: 24px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

main {
  display: flex;
  justify-content: space-between;
  min-height: 80vh;

  gap: 1rem;
}

textarea {
  width: 350px;
  height: 100%;
  resize: none;
  border: none;
  background: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--color-text);
  padding: 1rem;
}

/* =========================== */
/* ==== Tablet responsive ==== */

@media screen and (max-width: 768px) {
  .cabecera {
    left: 200px;
  }

  #texto-encriptar {
    margin: 0 auto;
    left: 50px;
    right: 10px;
  }

  .Divbt {
    margin: 0 auto;
    display: flex;
    text-align: center;
    left: 10px;
  }

  .ver-section {
    display: flex;
    text-align: center;
    top: 700px;
    left: 50px;
    width: 90%;
    height: 300px;
  }

  .image-wrap {
    display: none;
  }

  @media screen and (max-width: 500px) {

    header body{
      margin: 0 auto;
    }

    .cabecera {
      left: 50px;
    }

    #texto-encriptar  {
      margin: 0 auto;
      width: 330px;
      left: 10px;
    }

    .info{
      width: 350px;
      margin: 0 auto;
      left: 10px;
    }

    .Divbt {
      width: 350px;
      display: block;
      justify-content: center;
    }

    .ver-section{
      width: 330px;
      left: 15px;
    }

    #btCopiar{
      width: 200px;
    }


  }
}
